head{
    margin:10% 0 10% 0;
}

header{
    margin:10% 0 10% 0;
    background-color: teal;
    size: 10%;
}

body{
    margin:10% 0 10% 0;
}

footer{
    margin:10% 0 10% 0;
    background-color: #666666;
}